# MongoDB Connection
MONGODB_URI=mongodb+srv://ankita:ankita123@kalakruti.gymbfcz.mongodb.net/?appName=kalakruti
PORT=3001

# Frontend API URL (for local development)
VITE_API_URL=http://localhost:3001/api
